<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="changeSuccess" method="post" name="change">
  <div>
    <div>
      <span>用户名</span>
      <input type="text" name="username">
    </div>
    <div>
      <span>当前密码</span>
      <input type="text" name="oldPassword">
    </div>
    <div>
      <span>新密码</span>
      <input type="text" name="newPassword">
    </div>
    <div>
      <span>确认密码</span>
      <input type="text" name="confirm">
    </div>
    <button id="theBtn">保存</button>
  </div>
</form>
</body>
</html>